html, body {
    background-color: #ffeead;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    font-size: 12px;
    position: relative;
}

h1 {
    padding: 0;
    margin: 0;
}

h2 {
    padding: 0;
    margin: 0;
}

.txt-center {
    text-align: center;
    padding: 0;
    margin: 0;
}

.txt {
    padding: 0;
}

.notmobile {
    display: none;
}
.ismobile {
    display: block;
}

.isscreen {
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color:#fff;
    height:100%;
}

.container > .site-header {
    background-color: #bb00ff;	
    background-image: linear-gradient(#4c0466, #bb00ff);	
} 

.container > .site-main {
    height:100%;
    background-color: #ff0000;
    background-image: linear-gradient(#bb00ff, red ); 
    padding:5% 10%;
    text-align:left;
}

.container > .site-navigation {
    background-color: #da0e0e;
    background-image: linear-gradient(#da0e0e ,#001199); 
}

.container > .site-footer {
    background-color: #001199;
}


/* links in navigation*/



.nav-list {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    padding:4px;
    margin: 0px;
    align-items: center;    
    justify-content: center;
    text-decoration: none;
    font-size: 1em;
}

.nav-list li {
    padding:6px 2px;
    margin-right: 3px;
    
}    

.nav-list2 {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;
    padding:3% 5%;
    margin: 0px;
    align-items: left;    
    text-decoration:none;
    font-size: 1em;
}

.nav-list2 li {
    padding:8px 2px;
    margin-right: 3px;
}  

.nav-list2 > li > a{
    color: #fff; 
    padding:3px;
    text-decoration: none;
}

.nav-list2 > li  > a:hover {
    color: #222;
    padding:4px;
    text-decoration: none;
}

.nav-list2 > li > a:visited  a:active {
    color: #222;
}

.abutton {
    color: #222; 
    padding:3px 10px;
    margin:0 5px;
    text-decoration: none;
    border-left:2px solid white;
    border-bottom:2px solid white;
    border-right:2px solid #666;
    border-top:2px solid #666;
    background-color: #999;
}

.abutton:hover {
    color: #fff;
    text-decoration: none;
    border-left:2px solid #666;
    border-bottom:2px solid #666;
    border-right:2px solid white;
    border-top:2px solid white;
    background-color: #999;
}

abutton:visited  a:active {
    color: #222;
}