.notmobile {
    display: none;
}
.ismobile {
    display: none;
}

.isscreen {
    display: block;
}

.container {
    display: grid; 
    /*grid-template-columns: 1fr 2fr ;*/
    grid-template-rows: 1fr 80fr 4fr 1fr;
    font-size: larger;
    color:#fff;
    height:100%;
}

.container > .site-header {
    grid-row: 1 / 1;
}

.container > .site-main {
    grid-row: 2 / 2;
}

.container > .site-navigation {
    grid-row: 3 / 3;
}

.container > .site-footer {
    grid-row: 4 / 4;
}

.container > .site-sidebar {
    grid-row: 5 / 5;
}
