.notmobile {
    display: none;
}
.ismobile {
    display: none;
}

.isscreen {
    display: block;
}

.container {
    display: grid; 
    grid-template-columns: 1fr ;
    grid-template-rows:1fr 100% 1fr 1fr;
    font-size: 16px;
    color:#fff;
}

.container > .site-header {
    grid-row: 1 / 1;
    background-image: linear-gradient(#4c0466, #bea017);	
}

.container > .site-main {
    grid-row: 2 / 2;
}

.container > .site-navigation {
    grid-row: 3 / 3;
}

.container > .site-footer {
    grid-row: 4 / 4;
}

.container > .site-sidebar {
    grid-row: 5 / 5;
}
